<header>
<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/clarisse-diniz-silva/" target="_blank">
      <i class="fa-brands fa-linkedin" style="color: #570535;"> Linkedin</i>
    </a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/ClarisseDinizS" target="_blank">
      <i class="fa-brands fa-github" style="color: #570535;">Github</i>
    </a></li>
    <li><span>•</span></li>
    <li><a href="https://www.instagram.com/clarissedinizs/" target="_blank">
      <i class="fa-brands fa-instagram" style="color: #570535;"> Instagram</i>
    </a></li>
  </ul>
</div>
</header>
